:root {
    ---color-secondary: #feb900;
}
*{
    font-family: "Roboto",  sans-serif;
}

section{
    padding: 100px 0;
}

#first{
    padding: 0;
}

.titik {
    color: var(---color-secondary);
}

header{
    width: 100%;
    z-index: 2   ;
    background: transparent;
    position: absolute ;
}

.header-padding {
    padding: 25px 150px;
}

.nav-link{
    font-size: 14px;
    color: rgb(206, 201, 201);
    font-weight: 400;
}

.nav-item::after{
    content: "";
    background-color: var(---color-secondary);
    width: 0%;
    display: block;
    height: 2px;
    transition: .5s;
}

.nav-item :hover{
    color: white;
}

.nav-item:hover::after{
    width: 100%;
}

.img-slide{
    filter: brightness(0.2);
}

.title{
    font-size: 56px;
    font-weight: 700;
}
.title::after{
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    margin: auto;
    display: block;
}

.btn-start{
    color: white;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    padding: 12px 40px;
    border-radius: 50px;
    border: 2px solid var(---color-secondary);
}

.btn-start:hover{
    background: var(---color-secondary);
    color: white;
}

/* Section Form */
.text-form::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(---color-secondary);
    margin: 20px 0;
}

.card-form{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.costum-textarea{
    resize: none;
}

/*Section Constructions*/
.text-construction::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 8px;
    right: 8px;
}

.text-construction::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 8px;
    left: 8px;
}

.card-box{
    display: flex;
    border: 1px solid #dcdcdc;
    width: 700px;
}

.card-box img{
    width: 270px;
    height: 300px;
    object-fit: cover;
}

.text-card{
    padding: 50px;
}
/* Section Service */
.card-service {
    width: 400px;
    height: 400px;
    text-decoration: none;
    color: #364d59;
}

.icon-card::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #364d5932;
    border-radius: 100%;
    position: absolute;
    margin-left: 15px;
    margin-top: -5px;
    transition: .3s;
}

.title-service {
    width: fit-content;
}

.title-service::after {
    content: "";
    background-color: #364d5932;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-top: 20px;
    transition: .3s;
}

.icon-card i {
    font-size: 45px;
    font-weight: 600;
    color: #364d59;
    position: relative;
    z-index: 1;

}

.text-learn {
    color: yellow;
    font-size: 14px;
}

.card-service:hover .icon-card::before {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover .title-service::after {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover {
    color: #364d59;
}
/* Section Service Tab */

.btn {
    border: none;
    border-radius: 0 !important;
}

.btn-link {
    color: var(--color-text) !important;
    font-weight: 600 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px !important;
    transition: .3s;
}

.btn-link:hover {
    color: #feb900 !important;
}

.nav-item .btn-link.active {
    border-bottom: 3px solid var(--color-secondary);
}

.list:hover{
    color:#feb900;
}

.list-active{
    color: #feb900;
}

.testimonials .testimonial-wrap {
    padding-left: 50px;
  }
  
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  
  .testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 0 15px 30px 0;
    min-height: 200px;
    box-shadow: 0px 2px 20px rgba(82, 86, 94, 0.1);
    position: relative;
    background: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #000;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .testimonials .testimonial-item .stars {
    margin: 10px 0;
  }
  
  .testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: #ffd565;
    font-size: 26px;
    line-height: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d5d7da;
    opacity: 1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  @media (max-width: 767px) {
    .testimonials .testimonial-wrap {
      padding-left: 0;
    }
  
    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
      overflow: hidden;
    }
  
    .testimonials .testimonial-item {
      padding: 30px;
      margin: 15px;
    }
  
    .testimonials .testimonial-item .testimonial-img {
      position: static;
      left: auto;
    }
  }
  .recent-blog-posts .post-item {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
  }
  
  .recent-blog-posts .post-item .post-img img {
    transition: 0.5s;
  }
  
  .recent-blog-posts .post-item .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }
  
  .recent-blog-posts .post-item .post-content {
    padding: 30px;
  }
  
  .recent-blog-posts .post-item .post-title {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .recent-blog-posts .post-item .meta i {
    font-size: 16px;
    color: var(--color-primary);
  }
  
  .recent-blog-posts .post-item .meta span {
    font-size: 15px;
    color: #838893;
  }
  
  .recent-blog-posts .post-item hr {
    color: #888;
    margin: 20px 0;
  }
  
  .recent-blog-posts .post-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #838893;
  }
  
  .recent-blog-posts .post-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .recent-blog-posts .post-item:hover .post-title,
  .recent-blog-posts .post-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .recent-blog-posts .post-item:hover .post-img img {
    transform: scale(1.1);
  }
  .footer {
    color: #fff;
    background: url("../img/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
  }
  
  .footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
  }
  
  .footer .footer-content .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer .footer-content .footer-info h3 span {
    color: var(--color-primary);
  }
  
  .footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
  }
  
  .footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .footer-content .social-links a:hover {
    background: var(--color-primary);
    text-decoration: none;
  }
  
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links ul li {
    padding: 8px 0;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-content .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: #fff;
  }
  
  .footer .footer-legal .credits a {
    color: var(--color-primary);
  }